<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!-- 消息配置 -->
    <rabbit:connection-factory id="connectionFactory" host="${rabbit.host}" port="${rabbit.port}" username="${rabbit.username}" password="${rabbit.password}" virtual-host="${rabbit.virtualHost}" requested-heartbeat="60" />
    <rabbit:admin connection-factory="connectionFactory" />
    <rabbit:queue name="${rabbit.queue.1}" />
    <rabbit:topic-exchange name="${rabbit.exchange.1}">
        <rabbit:bindings>
            <rabbit:binding queue="${rabbit.queue.1}" pattern="${rabbit.routingKey.1}" />
        </rabbit:bindings>
    </rabbit:topic-exchange>

</beans>