<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bulain.mybatis.demo.dao.BlogMapper">

    <select id="find" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from blog t
        <include refid="where" />
        <include refid="common.orderby" />
    </select>
    <select id="selectByBizKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from blog t
        <include refid="whereByBizKey" />
    </select>
    <select id="countByDuplicate" resultType="java.lang.Long">
        select count(*) from blog t
        <include refid="whereByBizKey" />
        <if test="id != null">
            and t.id != #{id}
        </if>
    </select>
    <sql id="where">
        <where>
            <if test="s.title != null and s.title != '' ">
                and t.title = #{s.title,jdbcType=VARCHAR}
            </if>
            <if test="s.descr != null and s.descr != '' ">
                and t.descr = #{s.descr,jdbcType=VARCHAR}
            </if>
            <if test="s.activeFlag != null and s.activeFlag != '' ">
                and t.active_flag = #{s.activeFlag,jdbcType=VARCHAR}
            </if>
            <if test="s.createdVia != null and s.createdVia != '' ">
                and t.created_Via = #{s.createdVia,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <sql id="whereByBizKey">
        <where>
           and t.title = #{title,jdbcType=VARCHAR}
        </where>
    </sql>

</mapper>