<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bulain.mybatis.demo.dao.OrderMapper">
    <cache-ref namespace="com.bulain.mybatis.demo.dao.OrderMapper"/>
    
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bulain.mybatis.demo.model.Order">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="extn_ref_no1" property="extnRefNo1" />
        <result column="extn_ref_no2" property="extnRefNo2" />
        <result column="extn_ref_no3" property="extnRefNo3" />
        <result column="created_via" property="createdVia" />
        <result column="remarks" property="remarks" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="archived" property="archived" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, extn_ref_no1, extn_ref_no2, extn_ref_no3, created_via, remarks, created_at, created_by, updated_at, updated_by, version, deleted, archived
    </sql>
    
    <select id="find" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from orders t
        <include refid="where" />
        <include refid="common.orderby" />
    </select>
     <sql id="where">
        <where>
            <if test="s.orderNo != null and s.orderNo != '' ">
                and t.order_no = #{s.orderNo,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <delete id="deleteAll" >
        delete from orders
    </delete>

</mapper>
