<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bulain.mybatis.demo.dao.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.bulain.mybatis.demo.model.Blog" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="DESCR" property="descr" jdbcType="VARCHAR" />
    <result column="ACTIVE_FLAG" property="activeFlag" jdbcType="VARCHAR" />
    <result column="CREATED_VIA" property="createdVia" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, DESCR, ACTIVE_FLAG, CREATED_VIA, REMARKS, CREATED_AT, CREATED_BY, UPDATED_AT, 
    UPDATED_BY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BLOG
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BLOG
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bulain.mybatis.demo.model.Blog" useGeneratedKeys="true" keyProperty="id" >
    insert into BLOG (TITLE, DESCR, ACTIVE_FLAG, 
      CREATED_VIA, REMARKS, CREATED_AT, 
      CREATED_BY, UPDATED_AT, UPDATED_BY
      )
    values (#{title,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, #{activeFlag,jdbcType=VARCHAR}, 
      #{createdVia,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bulain.mybatis.demo.model.Blog" useGeneratedKeys="true" keyProperty="id" >
    insert into BLOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        TITLE,
      </if>
      <if test="descr != null" >
        DESCR,
      </if>
      <if test="activeFlag != null" >
        ACTIVE_FLAG,
      </if>
      <if test="createdVia != null" >
        CREATED_VIA,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="activeFlag != null" >
        #{activeFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdVia != null" >
        #{createdVia,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bulain.mybatis.demo.model.Blog" >
    update BLOG
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        DESCR = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="activeFlag != null" >
        ACTIVE_FLAG = #{activeFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdVia != null" >
        CREATED_VIA = #{createdVia,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bulain.mybatis.demo.model.Blog" >
    update BLOG
    set TITLE = #{title,jdbcType=VARCHAR},
      DESCR = #{descr,jdbcType=VARCHAR},
      ACTIVE_FLAG = #{activeFlag,jdbcType=VARCHAR},
      CREATED_VIA = #{createdVia,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>